/*--------------------iMPORTS DE LAS FUENTES--------------------*/

/*Fuente Roboto*/

/*--------------------iMPORTS DE LAS FUENTES--------------------*/

/*--------------------NAVBAR--------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: hsl(39, 35%, 85%) !important;
}
.navBarContainerGeneral,.navBarBotonesIzquierdaContainer,.navbarIniciarCrearCuentaContainer,.navbarLogosContainer,.NavbarItems,.categorias{
  display: flex;
  
}

.inicioButtonContainer,.catalogoButtonContainer,.catalogoButtonContainer,.navbarSearchBarContainer,.iniciarSesionButtonContainer,.CrearCuentaButtonContainer,.navbarLogosContainer,.categoriasButtonContainer{
  margin-left: 26px;
}
#textInicioCategoriasCatalogoFuente{
  color: var(--Negro, #000);
text-align: center;
font-family: var(--font-family-description, "Mukta Vaani");
font-size: var(--font-size-size-xs, 12px);
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
}
#merkachecheresTittle{
  color: var(--Negro, #0E0D0D);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.4));
}
.navbarSearchBar{
  display: flex;
width: 411px;
height: 40px;
padding: 14px var(--font-size-size-md, 20px);
justify-content: space-between;
align-items: flex-start;
border-radius: 2px;
background: var(--Blanco, #FFF);
align-items: center;
}

#navbarText{
  padding-top: 5px;
  color: var(--blanco-marfil-80, #7E7D7C);
font-family: var(--font-family-labels, Roboto);
font-size: var(--font-size-size-xs, 12px);
font-style: normal;
font-weight: 500;
line-height: 20px; /* 166.667% */
}
.navbarSearchBarContainer{
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.4));
}

/*Botones izquierda NavBar*/
.navbarIniciarCrearCuentaContainer{/*Contiene los dos botones*/ 
height: 54px;
padding: 0px 5px;
justify-content: center;
align-items: center;
gap: var(--font-size-size-lg, 24px);
}
/*Contenedores por separado de cada boton*/ 
.iniciarSesionButtonContainer,.CrearCuentaButtonContainer{
  border: 1px solid var(--verde-40, #A4C482);
  background: var(--verde-40, #A4C482);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#iniciarSesionButton,#CrearCuentaButton{
  background: var(--verde-40, #A4C482);
  border: none;
  padding: 5px 15px; /* Tamaño del botón */
  font-size: 16px;
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cambiar cursor al pasar por el botón */
}
#iniciarSesionButton,#CrearCuentaButton:hover{
  background: #92B869;
}
.navbarLogosContainer{
display: flex;
width: 100px;
justify-content: center;
align-items: center;
gap: var(--font-size-size-md, 20px);
flex-shrink: 0;
}
.navBarContainerGeneral{
  justify-content: center;
  align-items: center;
}


/*--------------------NAVBAR--------------------*/

/*--------------------HEADER--------------------*/
.headerIzquierda {
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  display: flex;
  /*background-color: #23303f;*/
}

#botonExplorar {
  
  margin-left: 5px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: var(--Multiples-8, 8px);
  border-radius: 1px;
  border: 1px solid var(--Verde, #92b869);
  background: var(--Verde, #92b869);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.botonExplorarContainer {
  padding: 15px;
}
.contenedorgeneral {
  color: var(--Negro, #000);
  -webkit-text-stroke-width: 0.800000011920929;
  -webkit-text-stroke-color: var(--Negro, #000);
  font-family: var(--font-family-title, Montserrat);
  font-size: var(--font-size-size-lg, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  text-transform: uppercase;
  /*background-color: #2e7d32; */
}
.textoContainerIzquierda {
  width: fit-content; /* Ajustamos el tamaño del contenedor al contenido */
  height: fit-content; /* Ajustamos la altura */
  display: flex;
  flex-direction: column; /* Opcional, si deseas que todo esté en una columna */
  align-items: center; /* Para centrar los elementos internos horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente dentro del contenedor */

  padding: 20px; /* Espaciado interno */
  /*background-color: #970d0d;*/
}
.subtituloIzquierda {
  align-self: stretch;
  color: var(--azul-30, #5c6171);
  font-family: var(--font-family-description, "Mukta Vaani");
  font-size: var(--font-size-size-xs, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*--------------------HEADER-IMAGENES--------------------*/
#ImagenMitad {
  width: 349px;
  height: 404px;
}

.imagenesContainer {
  
  display: flex;
  margin: 30px;
  justify-content: space-between; /* Ajusta el espacio entre las imágenes */
  align-items: center; /* Alinea verticalmente en el centro */
}

.imagenIzquierdaContainer,
.ImagenLargaMitadContainer {
  flex: 1;
  margin: 10px; /* Añade márgenes alrededor para evitar que las imágenes se toquen */
}

.imagenDerechaArribaContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.containerDerechaDoble {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#imagenDerechaArriba {
  margin-top: 120px;
  width: 453px;
  height: 152px;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 0px -89px / 100% 217.105% no-repeat;
}

#imagenDerechaAbajo {
  height: 218px;
  width: 442px;
  margin-top: 20px;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

#imagenIzquierda {
  width: 489px;
  height: 178px;
  border-radius: 6px;
  
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.4));
}

#ImagenMitad {
  width: 349px;
  height: 404px;
  margin-top: 120px;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.containerBotonyGatoIzquierda {
  padding-top: 185px;

  width: 700px; /* Ajustamos el tamaño del contenedor al contenido */
  height: fit-content; /* Ajustamos la altura */
}
.imagenIzquierdaContainer {
  margin-left: 5px;
}

.textoContainerIzquierda {
  margin-left: -5px;
}
/*--------------------HEADER-IMAGENES--------------------*/

/*--------------------HEADER--------------------*/

/*--------------------Textos y fuentes del Header--------------------*/


.textoIzquierdatexto{
  margin-left: -125px;
}
.verdeTextoHeader{
  background-color:  hsla(89, 36%, 71%, 1);;
}
#TextoIzquierdaTitulo {
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.4));
  color: hsla(0, 0%, 0%, 1);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  top: 2.5px;
  border: 0.8px;
  left: 2.5px;
  font-weight: 1000;
  line-height: 32px;
  border: 0.8px;
  font-size: var(--font-size-size-xs, 24px);
}
#TextoIzquierdaTitulo span{
  display: inline-block;
  transform: rotate(-2.5deg);
}

#subtituloIzquierda {
  color: hsla(226, 10%, 40%, 1);
  font-size: var(--font-size-size-xs, 12px);

  font-family: "Mukta Vaani", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 19.94px;
}

/*--------------------Textos y fuentes del Header--------------------*/

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr;
  }

  .cta-section h2 {
    font-size: 1.5rem;
  }

  .explore-button {
    padding: 10px;
    width: 100%;
  }
}


/*--------------------BestSellersSection--------------------*/

.principalContainerBestSellers{ /*Esto hace que las fotos de los vendedores esten alineadas horizontalmente*/
  display: flex;
  /*Para separar las imagenes, separa cada contenedor, no seprar en el contenedor general con justify content: spacee between*/
  justify-content: center; /*Esto alinea las fotos en el centro*/
}

.bestSellersTittleContainer{ /*Esto hace que el titulo de mejores vendedores este centrado*/
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  margin: 20px;
  transform: rotate(-2deg); /* Rota el elemento 45 grados */
}


#bestSellersTittle{
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.8));
  background-color: hsla(89, 36%, 71%, 1);
}
.sellerContainerphoto1 , .sellerContainerphoto2 , .sellerContainerphoto3 ,.sellerContainerphoto4,.sellerContainerphoto5{ /*Esto Separa las fotos entre si*/
  display: flex;
  height: 279px;
  padding: 10px;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
  
}




/*--------------------BestSellersPhotos--------------------*/

#sellerPhoto1,#sellerPhoto2,#sellerPhoto3,#sellerPhoto4,#sellerPhoto5{
  width: 225px;
  height: 250px;
  
  border-radius: 6px;
  border: 0.5px solid var(--blanco-marfil-90, #545353);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/*--------------------BestSellersIcons--------------------*/
.leftIconSellersContainer,.rightIconSellersContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}






/*--------------------Categories--------------------*/

.sectionCategories{
  margin-bottom: 50px;
}
#categoriesTittle{
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.8));
  background-color: hsla(89, 36%, 71%, 1);
  
}

.categoriesTittleContainer{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  margin: 20px;
  transform: rotate(-2deg); /* Rota el elemento 45 grados */
}

.principalContainerCategories{
  display: flex;
  /*Para separar las imagenes, separa cada contenedor, no seprar en el contenedor general con justify content: spacee between*/
  justify-content: center; /*Esto alinea las fotos en el centro*/
}
              /* tamaños de las fotos */

#categoriesPhoto1, #categoriesPhoto2, #categoriesPhoto3, #categoriesPhoto4, #categoriesPhoto5,#categoriesPhoto6{
  width: 181px;
  height: 162px;
}


.categoriesContainerPhoto1 , .categoriesContainerPhoto2 , .categoriesContainerPhoto3 ,.categoriesContainerPhoto4,.categoriesContainerPhoto5,.categoriesContainerPhoto6{
  display: flex; /*--------------------Separacion y alineacion de las fotos--------------------*/
  width: 205px;
  height: 236px;
  padding: var(--font-size-size-lg, 24px) var(--font-size-size-xs, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
      /*--------------------Estilo de los marcos--------------------*/
  border-radius: var(--Multiples-4, 4px);
  border: 0.5px solid var(--blanco-marfil-70, #A7A7A5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#categoriesPhoto1,#categoriesPhoto2,#categoriesPhoto3,#categoriesPhoto4,#categoriesPhoto5,#categoriesPhoto6{

  border-radius: 6px;
  border: 0.8px solid var(--blanco-marfil-90, #545353);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.leftIconCategoriesContainer,.rightIconCategoriesContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}


/*--------------Explora nuestros productos--------------*/

/*--------------Contenedores divs--------------*/

.tituloProductsContainer{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  transform: rotate(-2deg);
}

.containerprincipal,.containerprincipal2,.containerprincipal3,.containerprincipal4,.containerprincipal5,.containerprincipal6{
  
  border-radius: 6px;
border: 0.8px solid var(--blanco-marfil-60, #D1D0CF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}

.containerProductsGeneral{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap:  21px 43px;
  flex-wrap: wrap;
}
.rating{
  display: flex;
  margin-top: 10px;
  
}

.foto{
  display: flex;
 justify-content: center; /* Centra horizontalmente */
  align-items: center;
}

/*--------------FOTOS--------------*/
#photoProducts{
  margin-top: 20px;
  border-radius: 6px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#stars{
  display: flex;
width: 70px;
height: 16px;
padding: 1px 0px;
align-items: flex-start;
flex-shrink: 0;
}

/*--------------Fuentes--------------*/

#resenas{
  color: var(--blanco-marfil-70, #A7A7A5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: var(--font-size-size-xl, 30px);
  height: var(--font-size-size-xs, 12px);
  flex-shrink: 0;
}

#tittleProduct{
  width: 234px;
  height: 33px;
  color: var(--blanco-marfil-90, #545353);
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
}

#generalPrice{
  color: var(--Negro, #000);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#tituloOurProducts{
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.8));
  background-color: hsla(89, 36%, 71%, 1);
}



/*--------------Footer--------------*/

.tituloIzquierdaFooterContainer{
  background-color: #2e7d32;
  display: flex;
  margin-left: 305px;
width: 1284px;
height: 191px;
padding: 10px;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
border-radius: var(--font-size-size-md, 20px);
background: var(--Verde, #92B869);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
justify-content: center; /* Centra horizontalmente */
align-items: center;
position: absolute;
}
.tituloFooter{
  display: flex;
  width: 625px;
  height: 151px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.inputysuscribeContainer{
  display: flex;
  width: 511px;
  height: 171px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  
}

.inputContainer{
  display: flex;

padding: 0px 10px;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

#inputButton{
  width: 447px;
height: 43px;
  border-radius: var(--font-size-size-xs, 12px);
border: 0.5px solid var(--azul-70, #070C1C);
background: var(--verde-10, #DBE7CD);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

  

.suscribeteContainer{
  display: flex;
margin-left: 50px;
padding: var(--Multiples-8, 8px);
justify-content: center;
align-items: center;
gap: var(--Multiples-8, 8px);
flex-shrink: 0;

}
#suscribeteButton{
  border-radius: var(--font-size-size-xs, 12px);
border: 0.5px solid var(--beige-90, #4D4A44);
background: var(--blanco-marfil, #FBFAF8);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 427px;
height: 31px;
filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.1));
}

#suscribetetexto{
  filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.2));
}

.input-con-icono img {
  margin-right: 50px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Tamaño del icono */
  height: 20px;
}

.input-con-icono{
  position: relative; /* Necesario para posicionar el icono */
  width: 400px; /* Ajusta el ancho */
}

.input-con-icono input {
  width: 100%;
  padding-left: 40px; /* Espacio para el icono */
  height: 40px;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: #cbdcaf;
  font-size: 18px;
  outline: none;
}

.containerFooterAbajo{
  background-color: hsla(39, 35%, 80%, 1);
  display: flex;
width: 2000px;
height: 426px;
padding: 10px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 10px;
flex-shrink: 0;

}
.ContainerGeneralTextosFooter{
  display: flex;
  
padding: 21px var(--font-size-size-lg, 24px);
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.sobrenosotrosContainer{
  display: flex;
width: 190px;
height: 180px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 15px;
}

.titulosFooterAbajo{
  color: var(--Negro, #000);
text-align: center;
font-family: var(--font-family-title, Montserrat);
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.SubtitulosFuentesFooter{
  color: var(--blanco-marfil-80, #7E7D7C);
font-family: var(--font-family-description, "Mukta Vaani");
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contactoContainer{
  margin-right: 150px;
}

#tituloFooterTexto{
  color: var(--Negro, #000);
font-family: var(--font-family-title, Montserrat);
font-size: var(--font-size-size-xl, 30px);
font-style: normal;
font-weight: 700;
line-height: normal;
}
#derechosReservadosTexto{
  color: var(--blanco-marfil-80, #7E7D7C);
font-family: var(--font-family-labels, Roboto);
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.derechosReservadosContainer{
  background-color: hsla(39, 35%, 80%, 1);
  width: 2000px;
  height: 50px;
  flex-shrink: 0;
  border-top: 1.5px solid #000000
}




/*Completa datos Page*/
.bodyCompletarDatosPage{
  background-color: #FFF !important;
}

.completaDatosGeneralContainer {
  /*Esto centra los elemtentos en general*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  }
  .tittileContainer {
  display: flex;
  width: 513px;
  padding-left: 15px;
  margin-bottom: 40px;
  }
  #CompletaDatostittle {
  padding-left: -50rem;
  }
  
  .buttonSaveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 56px;
    padding: var(--Multiples-8, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--Multiples-8, 8px);
    margin-left: 175px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .experienceLevelContainer {
    margin-top: 10px;
  }
  
  .redText {
    /*Textos en rojo*/
    color: red;
  }
  
  /*Esto hace la transicion en los placeholders*/
  #nameInput::placeholder,
  #emailInput::placeholder,
  #phoneInput::placeholder,
  #directionInput::placeholder,
  #levelInput::placeholder {
    color: #888;
    transition: opacity 0.2s ease;
    padding-left: 5px; /*Esto hace que el placeholder no se pegue a la izquierda del input*/
  }
  #nameInput:focus::placeholder,
  #emailInput:focus::placeholder,
  #phoneInput:focus::placeholder,
  #directionInput:focus::placeholder,
  #levelInput:focus::placeholder {
    opacity: 0; /* El placeholder desaparece al hacer clic */
  }
  /*Esto hace la transicion en los placeholders*/
  #nameInput,
  #emailInput,
  #phoneInput,
  #directionInput,
  #levelInput {
    border-radius: var(--font-size-size-xs, 12px);
    border: 1px solid var(--gris-border-35, rgba(102, 102, 102, 0.35));
    width: 513px;
    height: 56px;
  }
  
  .nameField,
  .emailFieldLabel,
  .LevelSellerFieldLabel,
  .directionFieldLabel,
  .phoneFieldLabel {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  #profilePhoto {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 75px;
  }
  
  #saveButton {
    color: var(--Blanco, #fff);
    display: flex;
    width: 168px;
    height: 56px;
    padding: var(--Multiples-8, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--Multiples-8, 8px);
    border-radius: 6px;
    border: 1px solid var(--gris-border-35, rgba(102, 102, 102, 0.35));
    background: var(--Verde, #92b869);
    cursor: pointer;
  }
  
  .checkBoxesContainer {
    border-radius: var(--font-size-size-xs, 12px);
    border: 1px solid var(--gris-border-35, rgba(102, 102, 102, 0.35));
    background: var(--Blanco, #fff);
  }
  
  .containerCheckBoxes {
    margin: 10px;
  }
  